<div class="tx_prgooglesearch-panel">
	<div class="tx_prgooglesearch-panel-head">
		<a href="{result.link}">
			<f:format.raw>{result.title}</f:format.raw>
		</a>
	</div>
	<div class="tx_prgooglesearch-panel-body">
		<f:format.raw>{result.snippet}</f:format.raw>
	</div>
	<div class="tx_prgooglesearch-panel-foot">
		<a href="{result.link}"
		   title="{f:translate(key:'LLL:EXT:pr_googlecse/Resources/Private/Language/locallang.xml:tx_prgooglecse_domain_model_search.openResult')}"
		   class="field button">
			<f:translate key="tx_prgooglecse_domain_model_search.openResult"/>
		</a>
		<a href="{result.link}"
		   title="{f:translate(key:'LLL:EXT:pr_googlecse/Resources/Private/Language/locallang.xml:tx_prgooglecse_domain_model_search.openResultInNewTab')}"
		   class="field button"
		   target="_blank">
			<f:translate key="tx_prgooglecse_domain_model_search.openResultInNewTab"/>
		</a>
	</div>
</div>